*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

#app{
    max-width:900px;
    margin:auto;
    padding:20px;
}

h1{
    color:#38bdf8;
    margin-bottom:10px;
}

p{
    color:#cbd5e1;
}